<div class="body">
  <div class="inputContainer">
    <textarea class="textArea" #playerList placeholder="Player List"></textarea>
    <button class="btn btnAddPlayer" (click)="addPlayerList(playerList.value)">
      Add Players
    </button>
  </div>

  <div class="playerListContainer">
    <div class="playerContainer" *ngFor="let player of playersMap | keyvalue">
      <div class="playerHeader">
        <h2>{{ player.key }}</h2>
        <button class="btn-small btn-delete" (click)="deletePlayer(player.key)">
          X
        </button>
      </div>
      <div class="playerBody">
        <h2>{{ player.value.totalRoundsPlayed }}:</h2>
        <button class="btn-small btn-add" (click)="addRoundsPlayed(player.key)">
          +
        </button>
        <button
          class="btn-small btn-subtract"
          (click)="subtractRoundsPlayed(player.key)"
        >
          -
        </button>
      </div>
      <!-- <h3>Total Rounds Wons: {{ player.value.totalRoundsWon }}</h3> -->
    </div>
  </div>
</div>
