.body {
  font-family: sans-serif;
  font-size: medium;
}

.inputContainer {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-bottom: 35px;
}

.playerListContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.playerContainer {
  display: inline-block;
  width: 150px;
  height: auto;
  border: solid black;
  padding: 5px;
}
.playerHeader {
  margin: 0;
  border-bottom: solid black;
}
.playerBody {
  font-size: x-large;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: start;
}

.btn {
  height: 25px;
  width: auto;
}
.btn-small {
  height: 25px;
  width: 25px;
}
.btn-add {
  background-color: limegreen;
}
.btn-subtract {
  background-color: red;
}
